/* certain things won't be displayed until functions are called  */
.last-page {
    display: none;
};

#high-scores-list,
#clear-btn {
  display: none;
}

/* adds some styling to the page */

* {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
   /*  margin-top: 10px;  */
    font-family: 'Fuzzy Bubbles', cursive;
    color: #1A2F2F;
    padding: 10px;
};

button {
    font-family: 'Fuzzy Bubbles', cursive;
}

