/* certain things won't be displayed until functions are called  */
.last-page {
    display: none;
};

.scores-container {
    display: none;
};

.clear-btn {
    display: none;
} 

/* adds some styling to the page */

* {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px; 
    color: rgb(14, 14, 111);
    border-color: rgb(14, 14, 111);
};

